span {
    display: block;
}

.bgc {
    display: inline;
}

.button {
    height: 100px;
    width: 100px;
    margin: 5px;
    border: solid rgb(5, 5, 5) 3px;
    border-radius: 10px;
    display: inline-block;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
    color: white;
}

#green {
    background-color: green;
}

#pink {
    background-color: pink;
}

#red {
    background-color: red;
}